.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 32px;

    .header__link__items{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      font-weight: 400;
    
    }

    .sign_up_btn{
      margin-left: 4px;
    }
  }

//   for small screen
  .ham_burger {
    cursor: pointer;
    display: none;

    div {
      //   display: block;
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0;
    }
  }
}

// large view
@media screen and (max-width: 991px) {

  .header{
    .header__nav{
      .header__link__items{
        a{
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

}
// tablet view
@media screen and (max-width: 768px) {

  .header{
    .header__nav{
      gap: 20px;
      .header__link__items{
        a{
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

}

// tablet view
@media screen and (max-width: 575px) {
  .header {
    .header__nav {
      display: none;
    }

    .ham_burger {
      display: block;
    }
  }
}
