
// font family
$font-family:"Plus Jakarta Sans", sans-serif ;

// font family
$base-font-size: 16px;
$heading-font-size: 40px;
$card-title-font-size: 20px;


// colors
$primary-color:#5d55ff;
$black: #1d1c31;
$body-text-color:transparentize($black, 0.6);
$white:#fff;
$link-color:$black;
$fade-white:#b6b3eb;


// spacing
$title-margin-space: 40px;
$card-items-spacing: 32px;
